* {
  box-sizing: border-box;
  font-family: San-Francisco;
}
@font-face {
  font-family: San-Francisco;
  src: url(/rsschool-cv/font/SF-Pro-Display-Regular.woff);
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: San-Francisco-light;
  src: url(/rsschool-cv/font/SF-Pro-Display-Light.woff);
  font-style: normal; 
  font-weight: 400;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0;
}

.wrapper-info {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 5px 4px 10px 0px #a5d2fa;
  margin: 0 0 20px 0;
}

.header-info {
  font-family: San-Francisco;
  letter-spacing: 0.9px;
  font-size: 25px;
  padding-left: 15px;
}

.main-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 35%;
  background-color: aliceblue;
  box-shadow: 5px 7px 20px 0px #a5d2fa;
}

.bio {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
  background-color: aliceblue;
  box-shadow: 5px 7px 20px 0px #a5d2fa;
}

.wrapper-avatar {
  margin: auto;
  margin-top: 0;
  margin-bottom: 15px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  object-fit: cover;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #fff;
}

.list-item__link {
  text-decoration: none;
  color: black;
}

.list-item__image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h2 {
  margin: 0 0 20px 0;
  letter-spacing: 0.9px;
}

.name {
  font-size: 36px;
}

.name::after {
  content: '';
  display: block;
  height: 1px;
  background-color:silver;
}

p {
  font-family: San-Francisco-light, sans-serif;
  font-size: 18px;

}

p::after {
  content: '';
  display: block;
  height: 1px;
  background-color:silver;
  margin-top: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.skills-list__item {
  list-style-type: none;
  width: 50px;
  height: 50px;
}

.skills-list__image {
  width: 100%;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  padding: 15px;
  background-color: aliceblue;
  box-shadow: 5px 7px 20px 0px #a5d2fa;
}

.rss {
  width: 30%;
  padding: 10px;
}

.git-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 10px;
}

.git {
  margin: 0 0 5px 0;
}

.git-title {
  margin: 0 0 10px 0;
}

.git-link {
  text-decoration: none;
}

.date {
  font-size: 10px;
  margin: 0px 0 0 107px;
}



